
*{ margin: 0; padding: 0; box-sizing: border-box; 
font-family: 'Josefin Sans', sans-serif;}
.carousel-inner img {
    width: 100%;
    height: 90vh%;
  }

.aboutimg{
  width: 100%;
  height: 250px!important;
}

.heading:hover {
  text-decoration: underline;

}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header {
	margin-top: 20px;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
body{
    margin: 0;
    padding: 0;
}
.banner-area{
    height: 100vh;
    width: 100%;
    background-image: url(mega.jpg);
    background-size: cover;
    background-position: center center;
}
.menu-area{
    position: static;
}
.mega-area{
    position: static;
    width: 100%;
    left: 0%;
    right:0%;
    padding: 15px;
}
.dropdown-item{
    padding: 5px 0;
}
h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    margin-top: 2px;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}
.navbar-nav .nav-item .nav-link:hover{
    background-color: coral;
}

*{margin: 0; padding: 0;}
.social{
  margin-top: 30px;
  position: relative;
  transition: .6s;
}
.facebook{
  margin: 10px;
  /*height: 100px;
  width: 100px;
  background-color: #f5f6fa;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 4px 2px #dcdde1;
  line-height: 100px;*/
}

.twitter {
  margin: 10px;
  /*height: 100px;
  width: 100px;
  background-color: #f5f6fa;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 4px 2px #dcdde1;
  line-height: 100px;*/
}

.linkedin {
  margin: 10px;
  /*height: 100px;
  width: 100px;
  background-color: #f5f6fa;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 4px 2px #dcdde1;
  line-height: 100px;*/
}
